# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# virtual env
.venv/
venv/
env/
ENV/

# ================================
# Environment variables
# ================================
.env
.env.*
!.env.example

# ================================
# Data
# ================================
data/

# ================================
# Logs
# ================================
logs/
*.log

# ================================
# OS
# ================================
.DS_Store
Thumbs.db

# ================================
# IDE
# ================================
.vscode/
.idea/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Temporary
# ================================
*.tmp
*.bak
*.swp

# local analysis scripts
analysis/

COSING_Ingredients-Fragrance.Inventory_v2.csv
